  <div class="navbar navbar-dark bg-dark">
          <div class="navbar-brand text-white font-weight-bold">
              Angular Reactive-Form
          </div>
          <div class="d-flex justify-content-end">
          <div class="mx-2 my-3">
              <a class="btn bg-success text-white p-1 mr-2 btn-shadow " routerLink="/users/create" > Create User </a>
          </div>
          <div class="mx-2 my-3">
              <a class="btn bg-success text-white p-1 btn-shadow " routerLink="/users/view"> View All Users </a>
          </div>
          </div>
      </div>
    <div class="shadow-lg mb-5 p-3 rounded ">
  <div>
  <router-outlet></router-outlet> 
  </div>
 
</div>

