input.ng-invalid.ng-touched{
     border-color: red;
 }
 select.ng-invalid.ng-touched{
     border-color: red;
 }

.cardBody {
    width: auto;
    height: auto;
    background: linear-gradient(to bottom right,#eff0f3,#e5e6eb);
    box-shadow: 3px 3px 6px #bfc3cf, -3px -3px 6px #fff;
    border-radius: 10px;
    margin-top: 30px;
    padding: 20px;
}

.textColor {
    color: #032574;
}
 